body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
  color: #888;
  background: #fff;
}

/* HEADER */
header {
  background: #fff;
  padding-bottom: 10px;
}

header #logo {
  text-align: center;
}

header #logo .inner {
  margin: 40px 0;
  display: inline-block;
}

header.clone {
  width: 100%;
  position: fixed;
  top: -80px;
  -webkit-transition: .2s top ease-in;
  transition: .2s top ease-in;
  padding-bottom: 0;
}

header.clone #logo {
  display: none;
}

body.down header.clone {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#mainmenu-container {
  font-family: "Merriweather";
  text-align: center;
  width: 100%;
  height: 60px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

#mainmenu {
  color: #EDB83A;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
}

#mainmenu a {
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
  display: block;
  padding: 20px 20px 17px;
  text-decoration: none;
  color: #333;
}

#mainmenu a:hover {
  color: #fff;
}

#mainmenu ul {
  float: right;
  margin: 0;
  padding: 0;
  height: 30px;
}

#mainmenu li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  list-style: none;
  position: relative;
}

#mainmenu li a:after {
  font-family: "FontAwesome";
  float: right;
  content: "\f111";
  font-size: 8px;
  margin-left: 40px;
  color: #edb83a;
}

#mainmenu li:last-child a:after {
  display: none;
}

#mainmenu li li {
  font-size: 14px;
  border-left: none;
  border-right: none;
  display: block;
  float: none;
  border-bottom: solid 1px #2b2b2b;
}

#mainmenu li li:last-child {
  font-size: 14px;
  border-left: none;
  border-right: none;
}

#mainmenu li li a {
  padding: 10px 15px;
  background: #222;
  border-top: none;
  text-transform: none;
  letter-spacing: normal;
}

#mainmenu li li a:hover {
  border-top: none;
  color: #fff;
  background: #EDB83A;
}

#mainmenu li li a:after {
  display: none;
}

#mainmenu li ul {
  width: 200px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}

#mainmenu li ul ul {
  left: 100%;
  top: 0;
}

#mainmenu li:hover > ul {
  display: block;
}

#mainmenu li:hover a {
  color: #edb83a;
}

#mainmenu select {
  padding: 10px;
  height: 36px;
  font-size: 14px;
  border: none;
  background: #ff4200;
  color: #fff;
}

#mainmenu select option {
  padding: 10px;
}

#menu-btn {
  position: fixed;
  display: none;
  float: right;
  width: 42px;
  height: 42px;
  background: #edb83a;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  top: 20px;
  right: 20px;
  z-index: 10001;
}

#menu-btn:before {
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 27px;
  color: #fff;
}

#menu-btn.clicked:before {
  content: "\f00d";
}

.selectnav {
  display: none;
  width: 80%;
  font-size: 16px;
  border: solid 1px #333;
  padding: 5px;
  background: #222;
}

/* Subheaders */
#subheader {
  padding: 120px 0;
  background: url(../img/bg/bg-1.jpg) top center no-repeat;
  text-align: center;
  text-transform: uppercase;
}

#subheader h1 {
  font-family: 'Cinzel';
  letter-spacing: 10px;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}

#subheader h3 {
  font-family: 'Cinzel';
  color: #edb83a;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
}

#subheader span {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
}

/* gallery */
#gallery .item {
  text-align: center;
  background: #EDB83A;
  color: #333;
  padding-bottom: 15px;
  font-size: 12px;
  width: 24.5%;
  margin: 2px 2px 0 0;
}

#gallery .item h4 {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 20px;
}

#gallery-fullwidth .gallery-item {
  width: 16.65%;
  float: left;
}

#gallery-fullwidth .gallery-item img {
  width: 100%;
}

.isotope {
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0;
  transition-duration: 0;
}

.isotope.no-transition {
  -webkit-transition-duration: 0;
  transition-duration: 0;
}

.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0;
  transition-duration: 0;
}

#filters {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#filters li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 20px;
}

#filters a {
  color: #fff;
  padding: 10px 20px;
  color: #555;
  border: solid 1px #ddd;
  text-decoration: none;
  outline: none;
}

#filters a:hover {
  border: solid 1px #EDB83A;
}

#filters a.selected {
  background: #EDB83A;
  border: solid 1px #EDB83A;
  color: #FFF;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* maps */
.map {
  margin-top: 40px;
}

.map iframe {
  width: 100%;
  height: 320px;
  border: solid 1px #ccc;
  padding: 2px;
  background: #fff;
}

#map-container iframe {
  width: 100%;
  height: 360px;
}

.map-small iframe {
  width: 100%;
  height: 200px;
}

/* contact */
.error {
  display: none;
  padding: 20px;
  background: #D9534F;
  color: #fff;
  margin-bottom: 30px;
}

.error img {
  vertical-align: top;
}

.success {
  display: none;
  padding: 20px;
  background: #5CB85C;
  color: #fff;
  margin-bottom: 30px;
}

.full {
  width: 98%;
}

#send {
  color: #fff !important;
}

#contact select {
  width: 100%;
}

.contact_form_holder .form-control {
  margin-bottom: 20px;
}

.contact_form_holder input {
  font-size: 15px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: solid 2px #ccc;
  padding-left: 0;
  margin-bottom: 60px !important;
}

.contact_form_holder input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_form_holder select {
  font-size: 15px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: solid 2px #ccc;
  padding-left: 0;
  margin-bottom: 60px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow-down.png) 96% center no-repeat rgba(255, 255, 255, 0.8);
}

.contact_form_holder select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_form_holder textarea {
  border: solid 2px #ddd;
}

.contact_form_holder textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_form_holder input[type="submit"] {
  padding: 10px 20px;
}

/* widget */
.widget {
  padding: 30px;
  margin-bottom: 40px;
  background: #eee;
}

.widget h3 {
  padding-bottom: 10px;
  font-weight: 400;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget .comments li {
  padding-left: 20px;
  background: url(../images/list-arrow.html) left 2px no-repeat;
  border-bottom: 1px solid #4b1701;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.widget iframe {
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.widget_category li {
  margin-bottom: 5px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 8px;
}

.widget_category li i {
  margin-right: 10px;
}

.widget_recent_post li {
  padding-left: 20px;
  background: url(../images/list-arrow.html) left 2px no-repeat;
  border-bottom: solid 1px #4b1701;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.widget_recent_post li a {
  color: #555;
}

.widget_tags li {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 14px;
}

.widget_tags li a {
  text-decoration: none;
  color: #fff;
  text-shadow: none;
  border-radius: 2px;
  margin-bottom: 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #EDB83A;
  padding: 5px 10px;
}

.widget_tags li a:hover {
  background: #655233;
  color: #fff;
}

.testimonial {
  margin: 0;
  background: #B7EDFF;
  padding: 20px 50px;
  position: relative;
  font-family: Georgia, serif;
  color: #666;
  border-radius: 5px;
  font-style: italic;
  text-shadow: 0 1px 0 #ECFBFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ddd));
  background-image: linear-gradient(#f2f2f2, #ddd);
  font-size: 16px;
  border: none;
}

.testimonial:before {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #999;
  font-style: normal;
  top: 0;
  left: 10px;
}

.testimonial:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #999;
  font-style: normal;
  content: "\201D";
  right: 10px;
  bottom: -.5em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ddd;
  margin: 0 0 0 25px;
}

.testimonial-author {
  margin: 0 0 0 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  text-align: left;
}

.testimonial-author span {
  font-size: 12px;
  color: #666;
}

/* blog */
/* blog list */
.blog-list {
  margin-top: -10px;
  margin: 0;
  padding: 0;
}

.blog-list li {
  margin-bottom: 20px;
  list-style: none;
  background: url(../images/dotwhite50.html);
  line-height: 1.7em;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.blog-list .info {
  position: absolute;
  width: 60px;
}

.blog-list .date {
  text-shadow: none;
  text-shadow: none;
  text-align: center;
  padding: 10px 0;
}

.blog-list .date h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

.blog-list .date span {
  letter-spacing: 8px;
  padding-left: 5px;
}

.blog-list a.readmore {
  display: block;
  width: 60px;
  height: 40px;
  background: url(../images/arrow-2.html) right center no-repeat #555;
}

.blog-list a.readmore:hover {
  background: url(../images/arrow-2.html) left center no-repeat #E1704B;
}

.blog-list .preview {
  padding-left: 80px;
  line-height: 1.6em;
}

.blog-list .preview img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-list .meta-info {
  margin: 20px 0 0 80px;
  font-size: 13px;
  padding: 6px 10px;
  background: #f8f8f8;
  font-size: 10px;
}

.blog-list .meta-info span {
  padding: 0 10px;
  color: #ccc;
}

.blog-list .callbacks_container {
  margin-bottom: -35px;
}

.blog-header .by {
  display: inline-block;
  float: left;
  background: url(../images/icon-user.html) left center no-repeat;
  padding-left: 24px;
}

.blog-header .cat {
  display: inline-block;
  float: left;
  background: url(../images/icon-folder.html) left center no-repeat;
  padding-left: 24px;
}

.blog-header .news-date {
  display: inline-block;
  float: left;
  background: url(../images/icon-folder.html) left center no-repeat;
  padding-left: 24px;
}

/* Links */
a {
  color: #EDB83A;
  text-decoration: none;
}

a:hover {
  color: #655233;
}

footer a:hover {
  color: #fff;
}

/* room list */
.room {
  margin-bottom: 30px;
  background: #edb83a;
}

.room h3 {
  text-align: center;
  margin-bottom: 20px;
}

.room .text {
  color: #333;
  padding: 20px 30px 30px;
}

.room .price {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.1);
}

.room .btn-book-now {
  width: 50%;
  float: left;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.room .btn-book-now:hover {
  background: #655233;
  text-decoration: none;
}

.room-specs {
  padding: 20px;
  border-bottom: solid 5px #ddd;
}

.room-specs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.room-specs ul li {
  border-bottom: solid 1px #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.room-specs ul li:before {
  list-style: none;
  color: #EDB83A;
  content: open-quote;
  font-size: 14px;
  line-height: .1em;
  margin-right: 10px;
  font-family: FontAwesome;
  content: "\f046";
}

.room-info h4 {
  margin-top: 0;
}

.room-single .room-info {
  padding: 0;
  border-bottom: none;
  background: none;
}

.room-single .room-specs {
  padding: 0;
  border-bottom: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.room-single .inner {
  padding: 30px 40px;
  background: #eee;
}

.room-single .room-price {
  color: #fff;
  background: #EDB83A;
  padding: 5px 10px 4px;
  display: inline-block;
}

.room-single .room-price span {
  font-size: 22px;
  font-weight: 700;
}

.room-single .btn-book {
  padding: 7px 10px 6px;
}

.room-item {
  position: relative;
  overflow: hidden !important;
}

.room-item img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.room-item h1 {
  font-family: "Cinzel";
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 3px;
}

.room-item .overlay {
  position: absolute;
  bottom: 0;
  background: #edb83a;
  padding: 35px 30px 20px;
  width: 100%;
  height: 84px;
  text-align: center;
}

.room-item .desc {
  height: 0;
  color: #333;
  padding-left: 30px;
  padding-right: 30px;
}

.room-list .room-item {
  margin-bottom: 30px !important;
}

.price {
  font-size: 32px;
  color: #333;
  font-family: "Cinzel";
  margin: 30px 0;
}

.price span {
  font-size: 14px;
}

.room-item-alt {
  border-bottom: solid 1px #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.room-item-alt img {
  width: 100%;
}

.room-item-alt h1 {
  font-size: 32px;
  margin-top: 0;
}

.room-item-alt .room-specs {
  border: none;
  margin: 0;
  padding-left: 0;
}

/*  slider */
.slider {
  text-align: center;
  height: 100%;
}

.callbacks-container {
  margin-bottom: -35px;
}

.text-wrap {
  position: absolute;
  background: #555;
  font-family: "Cinzel";
  height: 100%;
  width: 100%;
}

.text-wrap .inner {
  display: table;
  position: absolute;
  height: 100%;
  z-index: 100;
}

.text-wrap .inner .mid {
  display: table-cell;
  vertical-align: middle;
}

.text-wrap h3 {
  color: #edb83a;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.text-wrap h1 {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}

.text-wrap .desc {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  width: 50%;
  font-family: "Open Sans";
  line-height: 2em;
  margin: 0 auto;
}

.callbacks_nav.prev {
  left: 0;
}

.callbacks_nav.next {
  right: 0;
}

/* headings */
h1 {
  font-weight: lighter;
  color: #333;
  font-family: "Cinzel";
}

h2 {
  font-weight: lighter;
  color: #333;
  font-family: "Cinzel";
  font-size: 32px;
  letter-spacing: -1px;
  line-height: inherit;
  margin-top: 0;
}

h3 {
  color: #333;
  font-family: "Merriweather";
  letter-spacing: -1px;
  margin-top: 0;
  font-size: 20px;
}

h4 {
  color: #333;
  font-family: "Merriweather";
}

h5 {
  color: #333;
  font-family: "Merriweather";
}

h6 {
  color: #333;
  font-family: "Merriweather";
}

footer h3 {
  font-weight: 500;
  color: #fff;
}

footer h6 {
  font-weight: 500;
  color: #fff;
}

footerh4 {
  font-weight: 500;
  color: #fff;
}

footerh5 {
  font-weight: 500;
  color: #fff;
}

h1.h1-style {
  letter-spacing: -1px;
  font-weight: lighter;
}

h3.title {
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h3.title-property {
  margin: 0;
}

.title-text {
  text-align: center;
}

.title-text .small-border {
  margin-left: auto;
  margin-right: auto;
}

/* blockquotes */
blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
  content: "\201C";
}

blockquote span {
  font-family: "Open Sans", Arial;
  display: block;
  margin-top: 10px;
}

/* carousel */
.custom-carousel-1 {
  padding: 0 !important;
  margin: 0 !important;
}

/* content */
#content {
  padding: 80px 0;
}

.no-top {
  padding-top: 0 !important;
}

.no-bottom {
  padding-bottom: 0 !important;
}

section {
  background-position: 0;
  padding: 80px 0;
  background: #fff;
  position: relative;
  z-index: 1;
}

section.dark {
  background: #222;
}

.side-bg .image-container {
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
}

.side-bg .background-image {
  background: url(../img/bg/bg-2.jpg);
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  z-index: 0;
}

.side-bg .inner-padding {
  padding: 40px 0;
}

/* buttons */
.btn-custom {
  background: #333;
  color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.btn-custom:hover {
  color: #fff;
}

a.btn-custom:hover {
  background: #655233;
  text-decoration: none;
}

.btn-primary:hover {
  background: #bc5031;
}

.btn-border {
  border: solid 1px rgba(0, 0, 0, 0.3);
  background: none;
  padding: 5px 20px;
  color: #333;
  text-decoration: none !important;
}

.btn-border:hover {
  background: #333;
  color: #fff;
}

.btn-big-border {
  color: #333;
  text-transform: uppercase;
  border: solid 2px #333;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
  text-decoration: none !important;
}

.btn-big-border:hover {
  background: #222;
  color: #fff;
}

.btn-book {
  position: absolute;
  z-index: 100;
  display: inline-block;
  color: #fff;
  background: #e08e79;
  padding: 5px 10px;
  text-decoration: none;
}

.btn-book:hover {
  color: #fff;
  background: #EDB83A;
  text-decoration: none;
}

.btn-book span {
  font-size: 16px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid 1px #fff;
}

/* call to action */
.call-to-action {
  background: #edb83a;
}

/* animate */
.featured-box {
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid 1px #ddd;
}

.featured-box h3 {
  margin-bottom: 10px;
}

.featured-box i {
  color: #888;
  position: absolute;
}

.featured-box .text {
  padding-left: 70px;
}

.featured-box-pic img {
  margin: 0 0 20px;
}

.featured-box-pic .inner h4 {
  margin-top: 0;
  font-size: 22px;
}

.featured-box-pic .text {
  margin-bottom: 20px;
}

.featured-box-pic .btn-custom {
  background: #EDB83A;
  color: #fff;
  padding: 5px 20px;
}

.info-box {
  font-size: 14px;
  position: absolute;
  z-index: 100;
  display: inline-block;
  text-decoration: none;
  margin-top: 4px;
}

.info-box:hover {
  color: #fff;
  background: #EDB83A;
  text-decoration: none;
}

.info-box .book {
  color: #fff;
  background: #e08e79;
  padding: 5px 15px;
}

.info-box .price {
  color: #fff;
  background: #EDB83A;
  padding: 5px 15px;
}

.icon-box {
  min-height: 120px;
  margin-bottom: 30px;
}

.icon-box i {
  position: absolute;
  color: #fff;
  font-size: 40px;
  padding: 40px 0;
  text-align: center;
  width: 80px;
  background: #404040;
}

.icon-box:hover i {
  color: #EDB83A;
  background: #f2f2f2;
}

.icon-box .text {
  padding-left: 110px;
}

.icon-box {
  -webkit-transition: .5s;
  transition: .5s;
}

.icon-box i {
  -webkit-transition: .5s;
  transition: .5s;
}

.icon-box:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.icon-box:hover i {
  -webkit-transition: .5s;
  transition: .5s;
}

/* clients quotes*/
.client-quotes {
  font-family: "Merriweather";
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 700px;
}

.client-quotes .text {
  color: #fff;
  font-size: 18px;
  line-height: 1.8em;
  margin-bottom: 20px;
  padding-left: 60px;
  font-style: italic;
}

.client-quotes i {
  margin: 20px 0;
  color: #edb83a;
  width: 100%;
}

.client-quotes .name {
  font-weight: 700;
  color: #edb83a;
  padding-left: 60px;
}

.client-quotes .company {
  margin-bottom: 20px;
  color: #edb83a;
}

.client-quotes li {
  margin: 0 !important;
  padding: 0 !important;
}

.client-quotes li:before {
  font-family: "FontAwesome";
  content: "\f10d";
  font-size: 32px;
  color: #edb83a;
  font-weight: 400;
  position: absolute;
  margin-top: 10px;
}

.client-quotes li img {
  background: #fff;
  padding: 3px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

.client-quotes span {
  padding-right: 10px;
}

/* BLOG LIST */
.bloglist-small {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bloglist-small li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.bloglist-small li h5 {
  margin-bottom: 5px;
}

.bloglist-small li .txt {
  padding-left: 80px;
}

.bloglist-small li .read {
  display: block;
  margin-bottom: 5px;
}

.bloglist-small li .info {
  display: block;
  margin: 0;
  font-size: 11px;
  color: #aaa;
}

.bloglist-small img {
  position: absolute;
}

.date-box {
  width: 60px;
  position: absolute;
  text-align: center;
  border: solid 1px #eee;
}

.date-box .day {
  display: block;
  font-size: 28px;
  padding: 16px 0;
  font-family: "Cinzel";
  background: #404040;
  color: #fff;
}

.date-box .month {
  font-size: 12px;
  display: block;
  color: #fff;
  background: #555;
}

footer .date-box {
  border: solid 1px #222;
}

footer .date-box .day {
  background: none;
}

footer .date-box .month {
  background: none;
  border-top: solid 1px #222;
}

.widget .date-box .month {
  color: #fff;
  background: #EDB83A;
}

.blog-list .date-box .month {
  color: #fff;
  background: #EDB83A;
}

.blog-read .date-box .month {
  color: #fff;
  background: #EDB83A;
}

/* BOOKING */
#booking {
  padding: 30px 0;
  background: #655233;
}

#booking input {
  width: 100%;
  color: #fff;
  border: solid 1px #EDB83A;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: url(../img/icon-calendar.html) 10px center no-repeat;
  padding-left: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#booking button {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: #EDB83A;
}

#booking select {
  width: 100%;
  color: #fff;
  background: none;
  border: solid 1px #EDB83A;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.booking_form_holder .form-control {
  margin-bottom: 20px;
}

input.error_input {
  border-bottom-color: #C03;
}

textarea.error_input {
  border-color: #C03;
}

select.error_input {
  border-color: #C03;
}

/* Footer */
footer {
  color: #888;
  background: #111;
  padding: 80px 0 30px;
}

footer ul {
  margin: 0;
  padding: 0;
  float: right;
}

footer li {
  display: inline;
  padding: 0 10px 0 0;
}

footer a {
  color: #fff;
}

footer h3 {
  color: #edb83a;
  margin-bottom: 30px;
}

.subfooter {
  padding-top: 30px;
  margin-top: 20px;
}

/*  address */
address span {
  display: block;
  margin-bottom: 5px;
}

address span strong {
  display: inline-block;
  width: 60px;
}

address h4 {
  font-size: 14px;
}

/* jquery toTop */
#toTop {
  z-index: 1555;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: -999px;
  background: url(../img/ui.totop.png) no-repeat left top;
}

#toTop:active {
  outline: none;
}

#toTop:focus {
  outline: none;
}

#toTopHover {
  background: url(../img/ui.totop.png) no-repeat left -51px;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
}
/*# sourceMappingURL=main.css.map */