address {
    span {
        display: block;
        margin-bottom: 5px;
        strong {
            display: inline-block;
            width: 60px;
        }
    }
    h4 {
        font-size: 14px;
    }
}