#gallery {
    .item {
        text-align: center;
        background: #EDB83A;
        color: #333;
        padding-bottom: 15px;
        font-size: 12px;
        width: 24.5%;
        margin: 2px 2px 0 0;
        h4 {
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }
}

#gallery-fullwidth {
    .gallery-item {
        width: 16.65%;
        float: left;
        img {
            width: 100%;
        }
    }
}

.isotope {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
    .isotope-item {
        -webkit-transition-duration: .8s;
        -moz-transition-duration: .8s;
        -ms-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
    }
    .isotope-item.no-transition {
        -webkit-transition-duration: 0;
        -moz-transition-duration: 0;
        -ms-transition-duration: 0;
        -o-transition-duration: 0;
        transition-duration: 0;
    }
}

.isotope.no-transition {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    .isotope-item {
        -webkit-transition-duration: 0;
        -moz-transition-duration: 0;
        -ms-transition-duration: 0;
        -o-transition-duration: 0;
        transition-duration: 0;
    }
}

#filters {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    li {
        display: inline-block;
        margin-right: 3px;
        margin-bottom: 20px;
    }
    a {
        color: #fff;
        padding: 10px 20px;
        color: #555;
        border: solid 1px #ddd;
        text-decoration: none;
        outline: none;
        &:hover {
            border: solid 1px #EDB83A;
        }
    }
    a.selected {
        background: #EDB83A;
        border: solid 1px #EDB83A;
        color: #FFF;
    }
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}