#toTop {
    z-index: 1555;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 51px;
    height: 51px;
    border: none;
    text-indent: -999px;
    background: url(../img/ui.totop.png) no-repeat left top;
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

#toTopHover {
    background: url(../img/ui.totop.png) no-repeat left -51px;
    width: 51px;
    height: 51px;
    display: block;
    overflow: hidden;
    float: left;
}