.widget {
    padding: 30px;
    margin-bottom: 40px;
    background: #eee;
    h3 {
        padding-bottom: 10px;
        font-weight: 400;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .comments {
        li {
            padding-left: 20px;
            background: url(../images/list-arrow.html) left 2px no-repeat;
            border-bottom: 1px solid #4b1701;
            padding-bottom: 7px;
            margin-bottom: 5px;
        }
    }
    iframe {
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }
}

.widget_category {
    li {
        margin-bottom: 5px;
        border-bottom: solid 1px #ddd;
        padding-bottom: 8px;
        i {
            margin-right: 10px;
        }
    }
}

.widget_recent_post {
    li {
        padding-left: 20px;
        background: url(../images/list-arrow.html) left 2px no-repeat;
        border-bottom: solid 1px #4b1701;
        padding-bottom: 7px;
        margin-bottom: 5px;
        a {
            color: #555;
        }
    }
}

.widget_tags {
    li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 14px;
        a {
            text-decoration: none;
            color: #fff;
            text-shadow: none;
            border-radius: 2px;
            margin-bottom: 5px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            background: #EDB83A;
            padding: 5px 10px;
            &:hover {
                background: #655233;
                color: #fff;
            }
        }
    }
}

.testimonial {
    margin: 0;
    background: #B7EDFF;
    padding: 20px 50px;
    position: relative;
    font-family: Georgia, serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
    background-image: linear-gradient(#f2f2f2, #ddd);
    font-size: 16px;
    border: none;
    &:before {
        content: "\201C";
        position: absolute;
        font-size: 80px;
        line-height: 1;
        color: #999;
        font-style: normal;
        top: 0;
        left: 10px;
    }
    &:after {
        content: "\201C";
        position: absolute;
        font-size: 80px;
        line-height: 1;
        color: #999;
        font-style: normal;
        content: "\201D";
        right: 10px;
        bottom: -.5em;
    }
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ddd;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    text-align: left;
    span {
        font-size: 12px;
        color: #666;
    }
}